
<div *ngIf="!loadingSubscription.closed">
  Loading!!!
</div>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="mb-4">
  <a class="btn btn-primary" (click)="onCreate()">New Phone</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th>User Id</th>
    <th>Phone Id</th>
    <th>Phone Name</th>
    <th>Phone Number</th>
    <th>Primary Phone Number</th>
    <th>Phone Number Verified</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let phone of phones">
    <td>{{phone.userId}}</td>
    <td>{{phone.phoneId}}</td>
    <td>{{phone.phoneName}}</td>
    <td>{{phone.phoneNumber}}</td>
    <td>{{phone.primaryPhoneNumber}}</td>
    <td>{{phone.phoneNumberVerified}}</td>
    <td><button class="btn btn-primary" (click)="onEdit(phone.userId, phone.phoneId)">Edit</button></td>
    <td><button class="btn btn-primary" (click)="onDelete(phone.phoneId)">Delete</button></td>
    <td><button class="btn btn-primary" (click)="onVerify(phone)">Verify</button></td>
  </tr>
  </tbody>
</table>
