
<div *ngIf="!loadingSubscription.closed">
  Loading!!!
</div>

<div class="mb-4">
  <a class="btn btn-primary" (click)="onCreate()">New user</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>User Id</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.userId}}</td>
    <td>{{user.username}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td><button class="btn btn-primary" (click)="onPhones(user.userId)">Phones</button></td>
    <td><button class="btn btn-primary" (click)="onEdit(user.userId)">Edit</button></td>
    <td><button class="btn btn-primary" (click)="onDelete(user.userId)">Delete</button></td>
  </tr>
  </tbody>
</table>
