<div class="row">
  <div class="col-md-6">
    <form [formGroup]="formGroup" (submit)="onSubmit()">

      <div class="form-group">
        <label for="phoneName">Phone Name</label>
        <input type="text" class="form-control" id="phoneName" formControlName="phoneName">
        <span *ngIf="(phoneName.dirty || phoneName.touched) && phoneName.invalid && phoneName.errors.required">Phone name is required. </span>
        <span *ngIf="(phoneName.dirty || phoneName.touched) && phoneName.invalid && phoneName.errors.maxlength">Phone name is too long. </span>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
        <span *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.required">Phone number is required. </span>
        <span *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.maxlength">Phone number is too long. </span>
        <span *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.invalidNumber">Phone number wrong format. </span>
      </div>

      <div class="form-group">
        <label for="primaryPhoneNumber">Primary Phone Number</label>
        <input type="checkbox" class="form-control" id="primaryPhoneNumber" formControlName="primaryPhoneNumber">
      </div>

      <div>
        <button [disabled]="!formGroup.valid" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
